.h-484{
  height: 30rem;
}

.main_text{
  color: #FFF;
  text-align: center;
  font-family: Liberation Mono;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
  

.carousel a{
    align-self: center;
    width: 20%;
}
.border-main{
  border: #EBAF5A 1px solid;
}
.border-main-red {
  border: red 1px solid;
}