.h-484{
  height: 30rem;
}

.main_text{
  color: #FFF;
  text-align: center;
  font-family: Liberation Mono;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
  
.main_button{
    padding: 7px 5px;
    border: 1px solid #EBAF5A;
    border-radius: 5px;
    text-align: center;
}
@media (max-width: 700px) {
  .main_button{
    padding-bottom: 0;
  padding-top: 0; }
}
@media (max-width: 550px) {
  .main_button{
    padding-bottom: 0;
    padding-top: 0;
  }
}
.main_button:hover{
  background: rgba(255, 187, 3, 0.05);
  color: #FFF;
}

.carousel a{
    align-self: center;
    width: 20%;
}
.border-main{
  border: #EBAF5A 1px solid;
}