@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/liberation-mono');


img{
  max-width: none;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  background-image: url('../../public/shopbg.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}
.shop-wrapper{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.py-5x{
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.about-bg{
  background-image: url('../../public/aboutbg.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

*{
  font-family: 'Liberation Mono', sans-serif;
  font-size: 12px;                                            
}

body{
  color: white;
  min-width: 400px;
}
.wrapper{
  padding: 0 20px;
}
.select-custom{
  height: 34px;
  padding: 0 7px;
}
.custom-input{
  border:solid 1px #EBAF5A;
  width: 75px;
  height: 30px;
  font-size: 12px;
}
.fz-12{
  font-size: 12px;
}
.fz-14{
  font-size: 14px;
}
.fz-16{
  font-size: 16px;
}
.h-345 {
  height: 345px;
}
.h-27{
  height: 27px;
}
.w-250 {
  width: 250px;
}
.w-300 {
  width: 300px;
}
.w-all{
  width: 100%;
}
.bg-color-prim1{
  background: #3A2911;
}

.br-color-prim2{
  border:solid 1px #EBAF5A;
  background: transparent;
}
.rounded-xs{
  border-radius: 5px;
}
.rounded-t-xs{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.rounded-b-xs{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bg-active-subcategory-prim1{
  background: #5c421e;
}
.bg-active-prim1{
  background: #846436;
}

.w-1-43{
  width: 21%;
}

.w-48p{
  width: 48%;
}

.mb-6rem{
  margin-bottom: 5rem !important;
}
.about-us-text{
  font-size: 19px;
  line-height: 1.8;
}
@media (max-width: 1160px) {
  .about-us-text{
    font-size: 17px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #62461e;
  border-radius: 5px;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #574223;
}

.responsive-container {
  @apply w-[1200px] mx-auto max-[1280px]:w-[90%]
}

.body-container{
  min-height: 85vh;
}



.main_button{
  padding: 7px 5px;
  border: 1px solid #EBAF5A;
  border-radius: 5px;
  text-align: center;
}
@media (max-width: 700px) {
.main_button{
  padding-bottom: 0;
padding-top: 0; }
}
@media (max-width: 550px) {
.main_button{
  padding-bottom: 0;
  padding-top: 0;
}
}
.main_button:hover{
background: rgba(255, 187, 3, 0.05);
color: #FFF;
}.main_button-white{
  padding: 7px 5px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  text-align: center;
}

.main_button-white:hover{
  background: rgba(200, 128, 41, 0.05)
}

@media screen and (max-width: 400px) {
  .image-container {
    width: 225px !important;
    height: auto ;
    margin-bottom: 1rem;
  }

}
/* Image and Product Options Block */
@media screen and (max-width: 640px) {
  .image-options-block {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    width: 300px;
    height: auto ;
    margin-bottom: 1rem;
  }

  .options-block {
    width: 100%;
    height: auto;
    overflow-y: scroll;
  }
}
/* Price Summary Block */
@media screen and (min-width: 641px) and (max-width: 900px) {
  .price-summary-block {
    display: none; /* Hide on medium-sized screens */
  }
}

/* Order Summary Block */
@media screen and (min-width: 641px) and (max-width: 900px) {
  .order-summary-block {
    width: 100%;
    margin-top: 1rem;
  }

  .order-summary-block .price-details {
    flex-direction: column;
  }

  .order-summary-block button {
    width: 100%;
  }
}

/* Description Block */
@media screen and (max-width: 900px) {
  .description-block {
    width: 100%;
    margin-top: 1rem;
  }
}

/* Responsive Container */
@media screen and (max-width: 900px) {
  .responsive-container {
    padding: 0 1rem;
  }
}

.min-640px-hidden{
  display: flex;
}
@media (min-width: 640px) {
  .min-640px-hidden{
    display: none;
  }
}

.bg-overlay{
  background-color: rgba(0, 0, 0, 0.5)
}

.h-36px{
  height: 36px;
}

.bg-loading{
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
